# Ignorar arquivos executáveis
*.exe

# Ignorar a pasta onde os executáveis estão sendo salvos
output/

# Ignorar arquivos de classe
*.class
/4-semestre/laboratorio de desenvolvimento de software/PROJETOS/CadastroAlunos/nbproject/private/
/4-semestre/laboratorio de desenvolvimento de software/PROJETOS/CadastroAlunos/build/
/4-semestre/laboratorio de desenvolvimento de software/aula 06 - banco de dados/Escola/nbproject/private/
/4-semestre/laboratorio de desenvolvimento de software/aula 06 - banco de dados/Escola/build/
/4-semestre/laboratorio de desenvolvimento de software/aula 06 - banco de dados/Produto/nbproject/private/
/4-semestre/laboratorio de desenvolvimento de software/aula 10/Produto/build/

# Ignorar arquivos form
*.form
/4-semestre/pesquisa e ordenação/TrabalhoOrdenacao/build/
