# Ignorar arquivos executáveis
*.exe

# Ignorar a pasta onde os executáveis estão sendo salvos
output/

# Ignorar arquivos de classe
*.class
/4-semestre/laboratorio de desenvolvimento de software/PROJETOS/CadastroAlunos/nbproject/private/
/4-semestre/laboratorio de desenvolvimento de software/PROJETOS/CadastroAlunos/build/
